@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;

  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0px;
}
